<a href="{{{items.xls}}}">
    {{# pix }} fileformats/xls, local_intelliboard, XLS{{/ pix }}
</a>

<a href="{{{items.csv}}}">
    {{# pix }} fileformats/csv, local_intelliboard, CSV{{/ pix }}
</a>

<a href="{{{items.pdf}}}">
    {{# pix }} fileformats/pdf, local_intelliboard, PDF{{/ pix }}
</a>